* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  font-size: 30px;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(1) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(1):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(1):after {
  content: "1";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(2) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(2):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(2):after {
  content: "2";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(3) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(3):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(3):after {
  content: "3";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(4) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(4):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(4):after {
  content: "4";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(5) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(5):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(5):after {
  content: "5";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(6) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(6):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(6):after {
  content: "6";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(7) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(7):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(7):after {
  content: "7";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(8) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(8):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(8):after {
  content: "8";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(9) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(9):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(9):after {
  content: "9";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(10) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(10):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(10):after {
  content: "10";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(11) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(11):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(11):after {
  content: "11";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(12) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(12):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(12):after {
  content: "12";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(13) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(13):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(13):after {
  content: "13";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(14) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(14):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(14):after {
  content: "14";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(15) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(15):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(15):after {
  content: "15";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(16) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(16):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(16):after {
  content: "16";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(17) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(17):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(17):after {
  content: "17";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(18) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(18):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(18):after {
  content: "18";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(19) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(19):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(19):after {
  content: "19";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(20) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(20):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(20):after {
  content: "20";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(21) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(21):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(21):after {
  content: "21";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(22) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(22):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(22):after {
  content: "22";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(23) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(23):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(23):after {
  content: "23";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(24) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(24):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(24):after {
  content: "24";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(25) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(25):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(25):after {
  content: "25";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(26) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(26):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(26):after {
  content: "26";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(27) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(27):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(27):after {
  content: "27";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-28 div:nth-child(28) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-28 div:nth-child(28):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-28 div:nth-child(28):after {
  content: "28";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(1) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(1):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(1):after {
  content: "1";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(2) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(2):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(2):after {
  content: "2";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(3) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(3):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(3):after {
  content: "3";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(4) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(4):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(4):after {
  content: "4";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(5) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(5):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(5):after {
  content: "5";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(6) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(6):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(6):after {
  content: "6";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(7) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(7):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(7):after {
  content: "7";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(8) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(8):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(8):after {
  content: "8";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(9) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(9):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(9):after {
  content: "9";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(10) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(10):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(10):after {
  content: "10";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(11) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(11):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(11):after {
  content: "11";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(12) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(12):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(12):after {
  content: "12";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(13) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(13):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(13):after {
  content: "13";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(14) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(14):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(14):after {
  content: "14";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(15) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(15):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(15):after {
  content: "15";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(16) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(16):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(16):after {
  content: "16";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(17) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(17):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(17):after {
  content: "17";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(18) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(18):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(18):after {
  content: "18";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(19) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(19):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(19):after {
  content: "19";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(20) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(20):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(20):after {
  content: "20";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(21) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(21):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(21):after {
  content: "21";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(22) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(22):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(22):after {
  content: "22";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(23) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(23):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(23):after {
  content: "23";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(24) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(24):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(24):after {
  content: "24";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(25) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(25):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(25):after {
  content: "25";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(26) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(26):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(26):after {
  content: "26";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(27) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(27):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(27):after {
  content: "27";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(28) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(28):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(28):after {
  content: "28";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-29 div:nth-child(29) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-29 div:nth-child(29):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-29 div:nth-child(29):after {
  content: "29";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(1) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(1):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(1):after {
  content: "1";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(2) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(2):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(2):after {
  content: "2";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(3) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(3):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(3):after {
  content: "3";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(4) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(4):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(4):after {
  content: "4";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(5) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(5):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(5):after {
  content: "5";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(6) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(6):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(6):after {
  content: "6";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(7) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(7):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(7):after {
  content: "7";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(8) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(8):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(8):after {
  content: "8";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(9) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(9):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(9):after {
  content: "9";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(10) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(10):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(10):after {
  content: "10";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(11) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(11):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(11):after {
  content: "11";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(12) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(12):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(12):after {
  content: "12";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(13) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(13):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(13):after {
  content: "13";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(14) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(14):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(14):after {
  content: "14";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(15) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(15):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(15):after {
  content: "15";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(16) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(16):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(16):after {
  content: "16";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(17) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(17):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(17):after {
  content: "17";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(18) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(18):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(18):after {
  content: "18";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(19) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(19):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(19):after {
  content: "19";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(20) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(20):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(20):after {
  content: "20";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(21) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(21):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(21):after {
  content: "21";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(22) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(22):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(22):after {
  content: "22";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(23) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(23):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(23):after {
  content: "23";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(24) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(24):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(24):after {
  content: "24";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(25) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(25):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(25):after {
  content: "25";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(26) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(26):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(26):after {
  content: "26";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(27) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(27):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(27):after {
  content: "27";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(28) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(28):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(28):after {
  content: "28";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(29) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(29):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(29):after {
  content: "29";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-30 div:nth-child(30) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-30 div:nth-child(30):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-30 div:nth-child(30):after {
  content: "30";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(1) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(1):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(1):after {
  content: "1";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(2) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(2):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(2):after {
  content: "2";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(3) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(3):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(3):after {
  content: "3";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(4) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(4):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(4):after {
  content: "4";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(5) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(5):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(5):after {
  content: "5";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(6) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(6):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(6):after {
  content: "6";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(7) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(7):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(7):after {
  content: "7";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(8) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(8):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(8):after {
  content: "8";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(9) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(9):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(9):after {
  content: "9";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(10) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(10):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(10):after {
  content: "10";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(11) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(11):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(11):after {
  content: "11";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(12) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(12):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(12):after {
  content: "12";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(13) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(13):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(13):after {
  content: "13";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(14) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(14):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(14):after {
  content: "14";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(15) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(15):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(15):after {
  content: "15";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(16) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(16):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(16):after {
  content: "16";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(17) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(17):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(17):after {
  content: "17";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(18) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(18):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(18):after {
  content: "18";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(19) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(19):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(19):after {
  content: "19";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(20) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(20):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(20):after {
  content: "20";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(21) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(21):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(21):after {
  content: "21";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(22) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(22):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(22):after {
  content: "22";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(23) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(23):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(23):after {
  content: "23";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(24) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(24):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(24):after {
  content: "24";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(25) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(25):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(25):after {
  content: "25";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(26) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(26):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(26):after {
  content: "26";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(27) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(27):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(27):after {
  content: "27";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(28) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(28):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(28):after {
  content: "28";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(29) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(29):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(29):after {
  content: "29";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(30) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(30):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(30):after {
  content: "30";
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 100px);
  grid-row: 10;
  grid-gap: 1px;
  justify-content: center;
}

.calendar-31 div:nth-child(31) {
  border: 1px solid #000;
  border-collapse: collapse;
  background: #eee;
  line-height: 100px;
  text-align: center;
}
.calendar-31 div:nth-child(31):hover {
  cursor: pointer;
  transform: translateY(-20px);
  transition: 0.5s;
  background-color: pink;
}

.calendar-31 div:nth-child(31):after {
  content: "31";
}

div.calendar-mon div:first-child {
  grid-column-start: 1;
}

div.calendar-tue div:first-child {
  grid-column-start: 2;
}

div.calendar-wed div:first-child {
  grid-column-start: 3;
}

div.calendar-thu div:first-child {
  grid-column-start: 4;
}

div.calendar-fri div:first-child {
  grid-column-start: 5;
}

div.calendar-sat div:first-child {
  grid-column-start: 6;
}

div.calendar-sun div:first-child {
  grid-column-start: 7;
}

/*# sourceMappingURL=style.css.map */
